{
  "extends": [
    "@chayns-toolkit"
  ],
  "rules": {
    "@typescript-eslint/no-var-requires": 0,
    "react/jsx-props-no-spreading": "off",
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": [
          "state"
        ]
      }
    ]
  }
}

